@media only screen and (min-width: 30.5em) {

.grid {
    grid-template-columns: 1fr 1fr;
  }
  .persona_grid {
    grid-template-columns: 1fr 1fr;
  }
  .benji {
    width: 75%;
    height: auto;
}
nav ul {
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

}