body {
    font-family: 'Oswald', sans-serif;
    max-width: 1000px;
    margin: auto;
    font-size: 14px;
}

h2 {
    text-align: center;
}

header,
footer {
    background-color: #627EA7;
    display: flex;
    align-items: center;
    flex-flow: column;
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
}
nav {
	background-color: #242f40;
	text-align: center;
    box-shadow: 0 2px 15px gray;
}

nav ul li a {
	display: block;
	color:  #ffffff;
	text-align: center;
	padding: 0.75rem;
	text-decoration: none;
	font-size: 0.95rem;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: grid;
}

nav a:hover {
	background-color: #ffffff;
	color: #101010;
}

.logo {
    width: 75%;
    height: auto;

}